.navbar-brand {
  font-size: 28px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: black;
}
.navbar-fixed-bottom, .navbar-fixed-top {
  z-index: 1;
}

.navbar-brand>img {
  display: initial;
}

.wedding-navbar {
  font-family: Italianno;
  background: #fbffe8;
  border: none;
  border-radius: 0;
  color: black;
  transition: box-shadow 0.2s linear;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.wedding-navigate {
  font-size: 24px;
}

.wedding-logo {
  max-height: 40px;
  margin-top: -10px;
}

.wedding-brand-logo {
  margin-right: -15px;
}
