.wedding-subscribe-container {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  align-items: center; /*centers items on the cross-axis (y by default)*/
  justify-content: center;
}
